name: Preprocessing Workflow

on:
  push:
    branches:
      - main  

jobs:
  preprocess:
    runs-on: ubuntu-latest  
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  # Pastikan Anda sudah membuat file requirements.txt

      - name: Run preprocessing script
        run: python preprocessing/automate_Tahta_Karisma.py

      - name: List files
        run: ls -l
